---
import BaseLayout from '../../layouts/BaseLayout.astro';
import { Markdown } from 'astro/components';
import {BlogPostFrontmatter} from 'types:BlogPostFrontmatter';

import PageTopper from 'component:PageTopper';
import CanonicalNotice from 'component:vue:CanonicalNotice';
import TableOfContents from 'component:vue:TableOfContents';

export async function getStaticPaths({rss}) {
	const allPosts = Astro.fetchContent<BlogPostFrontmatter>('../posts/*.md');
 
  rss({
    title: 'Building Better Builders > Bald Bearded Builder',
    description: 'Home of the Bald. Bearded. Builder. community. Working to build better builders.',
    customData: `<language>en-us</language>`,
    items: allPosts.map(item => ({
      title: item.title,
      description: item.description,
      link: `/blog/${item.slug}`,
      pubDate: item.publishedAt,
    })),
  });

  return allPosts.map(post => {
    return {params: { slug: post.slug }, props: {post}}
  });
}

const { post } = Astro.props;
console.log(post);
const canonicalUrl = post.canonicalUrl || Astro.request.canonicalURL.href;
---

<BaseLayout title={post.title} description={post.excerpt} permalink={Astro.request.canonicalURL} canonicalUrl={canonicalUrl}>
    <article class="page">
        <header>
        <img src={post.coverImage.asset.url} alt={post.title}/>
        </header>
        <main>
            <aside>
                <!-- <TableOfContents
                toc={toc}
                levels={levels}
                client:load
                /> -->
            </aside>
            <section class="content">
                <PageTopper title={post.title} />
                <CanonicalNotice canonicalUrl={post.canonicalUrl} />
                <Markdown content={post.body}></Markdown>
            </section>
        </main>
    </article>
</BaseLayout>