---
import BaseHead from 'component:BaseHead';
import PageHeader from 'component:vue:PageHeader/PageHeader';
import PageFooter from 'component:vue:PageFooter';
import BackToTop from 'component:vue:BackToTop';

const {title, description, permalink, ogImageUrl, canonicalUrl, keywords } = Astro.props;
---
<html lang="en">
  <head>
    <BaseHead title={title} description={description} permalink={permalink} canonicalUrl={canonicalUrl} ogImageUrl={ogImageUrl} keywords={keywords} />
  </head>
  <body>
    <div id="wrapper">
      <PageHeader client:load/>
      <main>
          <slot/>
      </main>
      <PageFooter client:load/>
      <BackToTop client:load/>
    </div>
  </body>
</html>
